@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #023020;
}
/* Primary Color */
.primary-green {
  color: #4caf50; /* Fresh Green */
}

.background-color {
  background-color: #2dc932; /* Light Green */
}
.light-color {
  color: #a5d6a7; /* Light Green */
}

/* Secondary Color */
.secondary-orange {
  color: #ff9800; /* Warm Orange */
}

.background-light-beige {
  background-color: #ffe0b2; /* Light Beige */
}

/* Accent Color */
.dark {
  color: #333333; /* Dark Gray */
}

.bg-dark {
  background-color: #333333; /* Dark Gray */
}


.scrollbar-hidden {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

/* 
.css-16wblaj-MuiInputBase-input-MuiOutlinedInput-input.Mui-disabled{
  opacity: 90%;
  -webkit-text-fill-color: white;
  }

  label[data-shrink=false]+.MuiInputBase-formControl .css-16wblaj-MuiInputBase-input-MuiOutlinedInput-input{
    border: 2px solid white;
  } */